**Group 6** 
1. Carmen Mendoza
2. Joaquín Pérez
3. Lizbeth Minaya
4. Valeria Albarracin

# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Numpy
1. Replace all the `even_numbers` in `np1` with 100. **Hint: Use `indexing` in arrys and [this filer](https://stackoverflow.com/questions/41638751/filtering-even-numbers-in-python).** <br><br>
2. Create a 3x3 matrix with values ranging from 0 to 8. **Hint: Use `np.arange` and `np.reshape` method.** <br><br>
3. Consider an array `Z = [1,2,3,4,5,6,7,8,9,10]`, generate an array `R = [ [ 1, 2, 3, 4], [ 2, 3, 4, 5 ], [ 3, 4, 5, 6 ], ..., [ 7, 8, 9, 10 ] ]`?.**Hint: Use `np.arange` and `np.concatenate`** <br><br>
4. Create a 3x3x3 array with random values. **Hint: Use [`np.random.random`](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.random.html).** <br><br>
5. Comment why this expression `np.nan == np.nan` is False. **Hint: Use stackoverflow.** <br><br>
6. Print the `mean` and `standard deviation` of `np2`. **Hint: Use `f-string`, `np.mean`, and `np.var` methods.**

In [3]:
import numpy as np
np1 = np.arange( 200, 750)
np2 = np.random.normal( 50 , 4, 300)

1. Replace all the even_numbers in np1 with 100. Hint: Use indexing in arrys and this filer.

In [17]:
#Show np1
np1 = np.arange( 200, 750)
np1

array([200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303,
       304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316,
       317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329,
       330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342,
       343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355,
       356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368,
       369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381,
       382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394,
       395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407,
       408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420,
       421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433,
       434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446,
       447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459,
       460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472,
       473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485,
       486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498,
       499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511,
       512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524,
       525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537,
       538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550,
       551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563,
       564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576,
       577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589,
       590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602,
       603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615,
       616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628,
       629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641,
       642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654,
       655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667,
       668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680,
       681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693,
       694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706,
       707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719,
       720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732,
       733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745,
       746, 747, 748, 749])

In [18]:
# Create a boolean that when a value of 'np1' is divided by 2 and the remainder is 0,it returns True
#This boolean works as a kind of filter
number=np1%2==0
#Now, every time the filer get a true result, this will be replace with 100
np1[number] =100
np1

array([200, 201, 202, 100, 204, 205, 206, 207, 208, 100, 210, 211, 212,
       213, 214, 100, 216, 217, 218, 219, 220, 100, 222, 223, 224, 225,
       226, 100, 228, 229, 230, 231, 232, 100, 234, 235, 236, 237, 238,
       100, 240, 241, 242, 243, 244, 100, 246, 247, 248, 249, 250, 100,
       252, 253, 254, 255, 256, 100, 258, 259, 260, 261, 262, 100, 264,
       265, 266, 267, 268, 100, 270, 271, 272, 273, 274, 100, 276, 277,
       278, 279, 280, 100, 282, 283, 284, 285, 286, 100, 288, 289, 290,
       291, 292, 100, 294, 295, 296, 297, 298, 100, 300, 301, 302, 303,
       304, 100, 306, 307, 308, 309, 310, 100, 312, 313, 314, 315, 316,
       100, 318, 319, 320, 321, 322, 100, 324, 325, 326, 327, 328, 100,
       330, 331, 332, 333, 334, 100, 336, 337, 338, 339, 340, 100, 342,
       343, 344, 345, 346, 100, 348, 349, 350, 351, 352, 100, 354, 355,
       356, 357, 358, 100, 360, 361, 362, 363, 364, 100, 366, 367, 368,
       369, 370, 100, 372, 373, 374, 375, 376, 100, 378, 379, 380, 381,
       382, 100, 384, 385, 386, 387, 388, 100, 390, 391, 392, 393, 394,
       100, 396, 397, 398, 399, 400, 100, 402, 403, 404, 405, 406, 100,
       408, 409, 410, 411, 412, 100, 414, 415, 416, 417, 418, 100, 420,
       421, 422, 423, 424, 100, 426, 427, 428, 429, 430, 100, 432, 433,
       434, 435, 436, 100, 438, 439, 440, 441, 442, 100, 444, 445, 446,
       447, 448, 100, 450, 451, 452, 453, 454, 100, 456, 457, 458, 459,
       460, 100, 462, 463, 464, 465, 466, 100, 468, 469, 470, 471, 472,
       100, 474, 475, 476, 477, 478, 100, 480, 481, 482, 483, 484, 100,
       486, 487, 488, 489, 490, 100, 492, 493, 494, 495, 496, 100, 498,
       499, 500, 501, 502, 100, 504, 505, 506, 507, 508, 100, 510, 511,
       512, 513, 514, 100, 516, 517, 518, 519, 520, 100, 522, 523, 524,
       525, 526, 100, 528, 529, 530, 531, 532, 100, 534, 535, 536, 537,
       538, 100, 540, 541, 542, 543, 544, 100, 546, 547, 548, 549, 550,
       100, 552, 553, 554, 555, 556, 100, 558, 559, 560, 561, 562, 100,
       564, 565, 566, 567, 568, 100, 570, 571, 572, 573, 574, 100, 576,
       577, 578, 579, 580, 100, 582, 583, 584, 585, 586, 100, 588, 589,
       590, 591, 592, 100, 594, 595, 596, 597, 598, 100, 600, 601, 602,
       603, 604, 100, 606, 607, 608, 609, 610, 100, 612, 613, 614, 615,
       616, 100, 618, 619, 620, 621, 622, 100, 624, 625, 626, 627, 628,
       100, 630, 631, 632, 633, 634, 100, 636, 637, 638, 639, 640, 100,
       642, 643, 644, 645, 646, 100, 648, 649, 650, 651, 652, 100, 654,
       655, 656, 657, 658, 100, 660, 661, 662, 663, 664, 100, 666, 667,
       668, 669, 670, 100, 672, 673, 674, 675, 676, 100, 678, 679, 680,
       681, 682, 100, 684, 685, 686, 687, 688, 100, 690, 691, 692, 693,
       694, 100, 696, 697, 698, 699, 700, 100, 702, 703, 704, 705, 706,
       100, 708, 709, 710, 711, 712, 100, 714, 715, 716, 717, 718, 100,
       720, 721, 722, 723, 724, 100, 726, 727, 728, 729, 730, 100, 732,
       733, 734, 735, 736, 100, 738, 739, 740, 741, 742, 100, 744, 745,
       746, 747, 748, 100])

2. Create a 3x3 matrix with values ranging from 0 to 8. Hint: Use np.arange and np.reshape method

In [6]:
#Create an array with the values from 0 to 8.
a=np.arange(9)
print(a)
#To create a 3x3 matrix, we reshape 'a' and put the dimensions
b=np.reshape(,(3,3))
print(b)

[0 1 2 3 4 5 6 7 8]
[[0 1 2]
 [3 4 5]
 [6 7 8]]

3. Consider an array `Z = [1,2,3,4,5,6,7,8,9,10]`, generate an array `R = [ [ 1, 2, 3, 4], [ 2, 3, 4, 5 ], [ 3, 4, 5, 6 ], ..., [ 7, 8, 9, 10 ] ]`?.**Hint: Use `np.arange` and `np.concatenate`** <br><br>

In [7]:
#Create an array Z with values from 1 to 10
Z = np.arange(1,11)
#Generate a new array 'R' by concatenating intervals of 'Z'
#Each interval contains four elements
R = np.concatenate(([Z[0:4]], [Z[1:5]], [Z[2:6]], [Z[3:7]], [Z[4:8]], [Z[5:9]], [Z[6:10]]), axis=0)
R

array([[ 1,  2,  3,  4],
       [ 2,  3,  4,  5],
       [ 3,  4,  5,  6],
       [ 4,  5,  6,  7],
       [ 5,  6,  7,  8],
       [ 6,  7,  8,  9],
       [ 7,  8,  9, 10]])

4. Create a 3x3x3 array with random values. **Hint: Use [`np.random.random`](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.random.html).** <br><br>

In [22]:
#First, I created and array with random values indicating it is 3x3x3, using np.random.random
array = np.random.random((3,3,3))
#Next I printed the output
print(array)

[[[0.53782742 0.59577428 0.21330486]
  [0.37023132 0.38115797 0.78936462]
  [0.67138119 0.73383594 0.13626683]]

 [[0.47537952 0.9263402  0.54434102]
  [0.80408486 0.41346292 0.92569562]
  [0.12252464 0.10250705 0.35699555]]

 [[0.3973671  0.70295335 0.20824051]
  [0.5001293  0.49553133 0.36636986]
  [0.57103084 0.95094085 0.53773297]]]

5. Comment why this expression `np.nan == np.nan` is False. **Hint: Use stackoverflow.** <br><br>

np.nan == np.nan

In [23]:
np.nan == np.nan
#The reason the expression np.nan == np.nan is False may be in that NaN are just substitutes or "place-holders" for missing numerical values. 
#Nonetheless, that does not imply that the original numerical values of different NaN are the same: NaN is just working as a constant. 
#Hence, the expression np.nan == np.nan is False as far as the original numerical values are unknown, 
# so it is not possible to assert they are equivalent.

False

6. Print the `mean` and `standard deviation` of `np2`. **Hint: Use `f-string`, `np.mean`, and `np.var` methods.**

In [19]:
#First I calculated the mean for np2 using np.mean and saved it
mean = np.mean(np2)
#Then I rounded the mean to two digits
mean = str(round(mean, 2))

#Second I calculated the standard deviation for np2 using np.mean and saved it
var = np.var(np2)
#Then I rounded the standard deviation to two digits
var = str(round(var, 2))

#Finally I printed the output with f-string
print(f"The mean of np2 is {mean}, and the standard deviation is {var} ")

The mean of np2 is 49.91, and the standard deviation is 18.18

# Pandas

Run the code bellow uncomment the second line to install savReaderWriter library. The `dict_varlabels` has the labels of the columns of rec1.

1. Check if CASEID identifies each observation uniquely. **[Hint: Use is_unique method.](https://pandas.pydata.org/docs/reference/api/pandas.Series.is_unique.html)**
2. Make the CASEID column the index of your data set. **[Hint: Use set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)**. 
3. Keep women who are 15-30 years old and live in Urban areas. **[Hint: Use query](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)**.
4. Generate a new column with the month of born. Just use the first three letters.  Use the English names of the months.

In [ ]:
# read REC0111 data
#!pip install savReaderWriter
import savReaderWriter as sav
rec1 = pd.read_spss( fr"../../_data/endes/2019/REC0111.sav" )

# Get labels from sav file
with sav.SavHeaderReader( fr"../../_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()

dict_varlabels = metadata[3]

In [ ]:
dict_varlabels