## 1.2 Lists

1 - Show the indices of the np.nan values in the f_list list. We want to see this output: The indices 0, 1, 4, 7 have np.nan values. Hint: Use print function and f-strings to insert the indices values.


2 - Replicate 4 times the values of the list p2_list. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.


3 - Print the length of f_list. Hint: Length function


4 - Print My teacher assistant is so boring. using text1 list. Hint: Use the join function


5 - Print My TA is so boring, but is very funny. using text1 list.Hint: Use the join function, and extend method.


Print

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.
Hint: Use the f-string, min, and max functions.

7 - Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**

8 - Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**

## 1.3 Strings

1 - Drop the duplicated blank spaces in str1. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.Hint: Use split method and join function.

2 - Get the number of letters in the string .Hint: Use lenfunction.

3 - Get the number of blank spaces (all of them) in the string .Hint: Use lenfunction.

4 - Get the position of @ in each string in the emails list. Hint: Use mapfunction and find method.

5 - Identifies if exists .edu. in each string in the emails list. Get a list of Booleans. Hint: Use mapfunction and find method.

6 - Get all the strings before the first dot .in each string in the emails list. Identifies how many of them has @. Hint: Use mapfunction and find method.

## 1.4 Pandas

You can and should always ask ChatGPT, BARD, Bing, etc. In this exercise, you will work with financial data. Follow the steps below:

1 - Load Data: Load the financial data available at this URL: https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv Use pd.read_csv() adn the link to load the data into a DataFrame.

2 - Explore Data: a) Display the first five rows of the DataFrame. b) Display the summary statistics of the DataFrame.

3 - Add Columns: a) Add a new column 'Level' that categorizes the 'Close' column values into 'Low' (< 20), 'Medium' (20-30), and 'High' (>30). You need to make a filter to make this categorization. You can see below some suggestions how to do it. b) Add a new column 'Year' extracted from the 'Date' column. You need to work with dates. You can do it directly workiwith the column splitting it or changing it to date format an dfollowing the below suggestion.

4 - Add Rows: a) Add a new row with a date of your choice and fill the other columns with appropriate values.

5 - Analysis: a) Calculate the average of the column 'Close' for each 'Year'. You need to group for this task. b) Count the number of 'High', 'Medium', and 'Low' Level days in the data.

Suggestions:

Use pd.cut() for categorizing 'Close' values.
Use pd.to_datetime() and dt.year to extract the year from a date.
Use DataFrame.append() or pd.concat() to add rows.
Use groupby() for aggregation tasks.

In [8]:
# 1
import pandas as pd

# This code loads the data from the provided URL.
url = "https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv"
df = pd.read_csv(url)

# We check the data assigned to the variable 'df'.
df

            DATE   OPEN   HIGH    LOW  CLOSE
0     01/02/1990  17.24  17.24  17.24  17.24
1     01/03/1990  18.19  18.19  18.19  18.19
2     01/04/1990  19.22  19.22  19.22  19.22
3     01/05/1990  20.11  20.11  20.11  20.11
4     01/08/1990  20.26  20.26  20.26  20.26
...          ...    ...    ...    ...    ...
8572  12/29/2023  12.55  13.19  12.36  12.45
8573  01/02/2024  13.22  14.23  13.10  13.20
8574  01/03/2024  13.35  14.22  13.33  14.04
8575  01/04/2024  13.93  14.20  13.64  14.13
8576  01/05/2024  14.24  14.58  13.29  13.35

[8577 rows x 5 columns]

In [9]:
# 2
# We display the first five rows of the DataFrame.
print("Primeras cinco filas del DataFrame:")
print(df.head())

# We display the summarized statistics of the DataFrame.
print("\nEstadísticas resumidas del DataFrame:")
print(df.describe())

Primeras cinco filas del DataFrame:
         DATE   OPEN   HIGH    LOW  CLOSE
0  01/02/1990  17.24  17.24  17.24  17.24
1  01/03/1990  18.19  18.19  18.19  18.19
2  01/04/1990  19.22  19.22  19.22  19.22
3  01/05/1990  20.11  20.11  20.11  20.11
4  01/08/1990  20.26  20.26  20.26  20.26

Estadísticas resumidas del DataFrame:
              OPEN         HIGH          LOW        CLOSE
count  8577.000000  8577.000000  8577.000000  8577.000000
mean     19.666454    20.474364    18.914884    19.580374
std       7.979066     8.439927     7.469827     7.906214
min       9.010000     9.310000     8.560000     9.140000
25%      13.940000    14.540000    13.400000    13.880000
50%      17.790000    18.470000    17.220000    17.760000
75%      23.100000    23.960000    22.320000    22.990000
max      82.690000    89.530000    72.760000    82.690000

In [10]:
# 3
# We add a 'Level' column to categorize the 'CLOSE' values
df['Level'] = pd.cut(df['CLOSE'], bins=[-float('inf'), 20, 30, float('inf')],
                                  labels=['Low', 'Medium', 'High'])

# We add the Year column extracted from the DATE column, keeping only the year using the dt.year function.
# Firstly, the 'DATE' variable was categorized as datetime.
df['Year'] = pd.to_datetime(df['DATE']).dt.year

df

            DATE   OPEN   HIGH    LOW  CLOSE   Level  Year
0     01/02/1990  17.24  17.24  17.24  17.24     Low  1990
1     01/03/1990  18.19  18.19  18.19  18.19     Low  1990
2     01/04/1990  19.22  19.22  19.22  19.22     Low  1990
3     01/05/1990  20.11  20.11  20.11  20.11  Medium  1990
4     01/08/1990  20.26  20.26  20.26  20.26  Medium  1990
...          ...    ...    ...    ...    ...     ...   ...
8572  12/29/2023  12.55  13.19  12.36  12.45     Low  2023
8573  01/02/2024  13.22  14.23  13.10  13.20     Low  2024
8574  01/03/2024  13.35  14.22  13.33  14.04     Low  2024
8575  01/04/2024  13.93  14.20  13.64  14.13     Low  2024
8576  01/05/2024  14.24  14.58  13.29  13.35     Low  2024

[8577 rows x 7 columns]