## 1.2 Lists

1 - Show the indices of the np.nan values in the f_list list. We want to see this output: The indices 0, 1, 4, 7 have np.nan values. Hint: Use print function and f-strings to insert the indices values.


2 - Replicate 4 times the values of the list p2_list. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.


3 - Print the length of f_list. Hint: Length function


4 - Print My teacher assistant is so boring. using text1 list. Hint: Use the join function


5 - Print My TA is so boring, but is very funny. using text1 list.Hint: Use the join function, and extend method.


Print

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.
Hint: Use the f-string, min, and max functions.

7 - Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**

8 - Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**

In [3]:
import numpy as np

f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

p2_list = [ 2 , 3, 4, 5 ]

values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 

last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]

emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [4]:
        # Answer 1

nan_values = [i for i, value in enumerate(f_list) if value is np.nan]

print(f"The indices {nan_values} have np.nan values.")

The indices [0, 1, 4, 7] have np.nan values.

In [5]:
        # Answer 2

p2_list_2 = p2_list * 4

print(p2_list_2)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [6]:
        # Answer 3

print(len(f_list))

8

In [7]:
        # Answer 4

answer_4 = ' '.join(text1)
answer_4

'My teacher assistant is so boring.'

In [8]:
        # Answer 5
    
text1[-1] = text1[-1].rstrip('.')
    
text_answer = ['My', 'TA']

text_answer_b = ['but', 'is', 'very', 'funny']

text_answer.extend(text1 + text_answer_b)

answer_5 = ' '.join(text_answer)
answer_5

'My TA My teacher assistant is so boring but is very funny'

In [9]:
        # Answer 6.1
    
max_index = values1.index(max(values1))
    
print(f"The max value of values1 is {max(values1)} and is located in the {max_index} index.")

The max value of values1 is 86 and is located in the 0 index.

In [10]:
        # Answer 6.2
    
min_index = values1.index(min(values1))
    
print(f"The min value of values1 is {min(values1)} and is located in the {min_index} index.")

The min value of values1 is 0 and is located in the 7 index.

In [11]:
        # Answer 7

last_names, names = zip(*map(lambda x: x.split(', '), last_and_name))
                    # the lambda function using split divides each name from each last name
                    # the function zip takes the values and puts them in tuples
                    # "last_names, names" indicates the code to split the tuples in two separate lists
print("Names:", names)
print("Last Names:", last_names)

Names: ('CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS')
Last Names: ('CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO')

## 1.3 Strings

1 - Drop the duplicated blank spaces in str1. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.Hint: Use split method and join function.

2 - Get the number of letters in the string .Hint: Use lenfunction.

3 - Get the number of blank spaces (all of them) in the string .Hint: Use lenfunction.

4 - Get the position of @ in each string in the emails list. Hint: Use mapfunction and find method.

5 - Identifies if exists .edu. in each string in the emails list. Get a list of Booleans. Hint: Use mapfunction and find method.

6 - Get all the strings before the first dot .in each string in the emails list. Identifies how many of them has @. Hint: Use mapfunction and find method.

In [3]:
str1 = 'I am                            too                                                        old'

In [10]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [5]:
# 1. Drop the duplicated blank spaces in str1. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.Hint: Use split method and join function.

# First, we split the string into a list of words
list_words = str1.split()

# Then, we remove the empty strings from the list
non_empty_words = [word for word in list_words if word]

# Lastly, we join the non-empty words back into a string
result_str = ' '.join(non_empty_words)

print(result_str)

I am too old

In [4]:
# 2. Get the number of letters in the string .Hint: Use lenfunction.

# In order to count the number of letters, we need to remove non-alphabetic characters first, we do that 
# using the len function (to printe the lenght)
# and  verifying that the character is alphabetic (a letter), using the if function.
num_letters = len([char for char in str1 if char.isalpha()])
# This is a better way to print the answer, including the string value "Number of letters"
print("Number of letters:", num_letters)

Number of letters: 9

In [6]:
# 3. Get the number of blank spaces (all of them) in the string .Hint: Use lenfunction.

# First, we create a list with the blank spaces, using the "isspace" method
blank_space = [char for char in str1 if char.isspace()]

# Then we apply the function len() to the list to get the total number of blank spaces
num_blank_spaces = len(blank_space)

# Finally, we print the result
print("Number of blank spaces:", num_blank_spaces)

Number of blank spaces: 85

In [11]:
# 4. Get the position of @ in each string in the emails list. Hint: Use mapfunction and find method.

# First we use the map() function to apply the specified lambda function to each element in the emails list. 
# Then, with the lambda function takes an email address (email) and finds the position of the '@' symbol using the find() method.
# Also, list(...) Converts the result into a list.
positions_at = list(map(lambda email: email.find('@'), emails))

# Finally, we print the results
print("Positions of '@':",positions_at)

Positions of '@': [9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [12]:
# 5. Identifies if exists .edu. in each string in the emails list. Get a list of Booleans. Hint: Use mapfunction and find method. # 

# First, we use the map function to apply a lambda function to each element in the emails list.
# The lambda function checks if '.edu.' is present in each email address.
contains_edu_lambda = lambda email: '.edu.' in email
mapped_result = map(contains_edu_lambda, emails)

# Then, we convert the mapped result into a list.
contains_edu_list = list(mapped_result)

# Finally we print the result
print("Contains '.edu.':", contains_edu_list)

Contains '.edu.': [True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [13]:
# 6. Get all the strings before the first dot '.' in each string in the emails list.
# First, we identify how many of them have '@'.

# Then we use the map function to apply a lambda function to each element in the emails list.
#    The lambda function extracts the substring before the first dot '.' and checks if it contains '@'.
substring_before_dot_lambda = lambda email: email.split('.')[0]
mapped_result = map(substring_before_dot_lambda, emails)

# After that, we convert the mapped result into a list.
substring_before_dot_list = list(mapped_result)

# Also, we count how many substrings contain '@' and print the results
count_with_at = sum('@' in substring for substring in substring_before_dot_list)

print("Substrings before the first dot:", substring_before_dot_list)
print("Number of substrings containing '@':", count_with_at)

Substrings before the first dot: ['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']
Number of substrings containing '@': 14

## 1.4 Pandas

You can and should always ask ChatGPT, BARD, Bing, etc. In this exercise, you will work with financial data. Follow the steps below:

1 - Load Data: Load the financial data available at this URL: https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv Use pd.read_csv() adn the link to load the data into a DataFrame.

2 - Explore Data: a) Display the first five rows of the DataFrame. b) Display the summary statistics of the DataFrame.

3 - Add Columns: a) Add a new column 'Level' that categorizes the 'Close' column values into 'Low' (< 20), 'Medium' (20-30), and 'High' (>30). You need to make a filter to make this categorization. You can see below some suggestions how to do it. b) Add a new column 'Year' extracted from the 'Date' column. You need to work with dates. You can do it directly workiwith the column splitting it or changing it to date format an dfollowing the below suggestion.

4 - Add Rows: a) Add a new row with a date of your choice and fill the other columns with appropriate values.

5 - Analysis: a) Calculate the average of the column 'Close' for each 'Year'. You need to group for this task. b) Count the number of 'High', 'Medium', and 'Low' Level days in the data.

Suggestions:

Use pd.cut() for categorizing 'Close' values.
Use pd.to_datetime() and dt.year to extract the year from a date.
Use DataFrame.append() or pd.concat() to add rows.
Use groupby() for aggregation tasks.